.container {
    height: 100vh;
    overflow: hidden;
}

.row {
    height: 5vh;
    background-color: black;
}

.container .row:nth-child(even) {
    background-color: black;
}


body {
    max-height: 100vh;
    height: 100%;
    position: relative;
}

.content {
    position: absolute;
    top: 50%;
    left: 2vw;
    transform: translateY(-50%)

}

h1, h2 {
    color: white;
    font-size: 5rem;
}